<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Gym | Add Payment</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/dashMain.css" />
    <link rel="stylesheet" type="text/css" href="/css/entypo.css" />
    <link href="/css/a1style.css" type="text/css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body class="page-body page-fade">
    <div class="page-container sidebar-collapsed">
      <div class="sidebar-menu">
        <header class="logo-env">
          <div class="sidebar-collapse" onclick="collapseSidebar()">
            <a href="#" class="sidebar-collapse-icon with-animation">
              <i class="entypo-menu"></i>
            </a>
          </div>
        </header>
        <%- include('partials/nav') %>
      </div>
      <div class="main-content">
        <div class="row">
          <div class="col-md-6 col-sm-8 clearfix"></div>
          <div class="col-md-6 col-sm-4 clearfix hidden-xs">
            <ul class="list-inline links-list pull-right">
              <li>Welcome <%= full_name %></li>
              <li>
                <a href="/logout"
                  >Log Out <i class="entypo-logout right"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
        <h2>Add Payment</h2>
        <hr />
        <% if (messages.error) { %>
        <p style="color: red"><%= messages.error %></p>
        <% } %> <% if (messages.success) { %>
        <p style="color: green"><%= messages.success %></p>
        <% } %>
        <form action="/payments/add" method="post">
          <input type="hidden" name="userID" value="<%= user.userid %>" />
          <input type="hidden" name="planID" value="<%= plan.pid %>" />
          <div class="form-group">
            <label>User</label>
            <input
              type="text"
              class="form-control"
              value="<%= user.username %> (<%= user.userid %>)"
              readonly
            />
          </div>
          <div class="form-group">
            <label>Plan</label>
            <input
              type="text"
              class="form-control"
              value="<%= plan.planName %>"
              readonly
            />
          </div>
          <div class="form-group">
            <label>Amount</label>
            <input type="number" name="amount" class="form-control" required />
          </div>
          <div class="form-group">
            <label>Payment Date</label>
            <input
              type="date"
              name="payment_date"
              class="form-control"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary">Add Payment</button>
          <a href="/payments" class="btn btn-secondary">Cancel</a>
        </form>
        <%- include('partials/footer') %>
      </div>
    </div>
  </body>
</html>
